* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    min-height: 100%;
    background: #fff;
    font-family: sans-serif;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
input:-webkit-autofill {
    background-color: #f0f0f0; /* прозрачный фон */
    /* box-shadow: 0 0 0 1000px white inset; прозрачный фон */
}

input {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    color: #333;
    font-size: 15px;
    padding: .6rem .3rem;
}
textarea {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    color: #333;
    font-size: 15px;
    padding: .6rem .3rem;
    height: 200px;
    width: 100%;
    resize: none;
}
.box_ {
    background: #F7F7F9;
}
.wrapper {
    height: 100%;
    display: flex;
}
.left__container {
    min-height: 100vh;
    width: 400px;
    padding: 2rem 1rem;
    background: #F7F7F9;
    border-right: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
}
.right__container {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}
hr {
    border: 1px solid #f0f0f0;
}
.block {
    background: #fff;
    border-radius: 9px;
    margin-bottom: 1rem;
}
.block__inner {
    padding: .7rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.block-left {
    display: flex;
    gap: 1rem;
}
.block-info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.block-avatar {
}
.block-avatar img {
    border-radius: 7px;
    width: 50px;
    height: 50px;
}
span.title {
    font-weight: 600;
    font-size: 16px;
}
span.info {
    font-size: 15px;
    color: #333;
}
.btn-error {
    padding: .5rem .7rem;
    border-radius: 4px;
    background: #f0f0f0;
    font-size: 15px;
}
.btn-primary {
    color: #333;
    padding: .7rem 1rem;
    border-radius: 5px;
    background: #fff;
    font-size: 15px;
}
.btn-info {
    background: #7CA6F8;
    color: #fff;
    font-size: 15px;
    border-radius: 7px;
    padding: .6rem 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .3s;
}
.btn-info:hover {
    color: #fff;
    background: #7ca5f8d0;
    transition: .3s;
}
.btn-primary:hover {
    color: #333;
}
button {
    background: #7CA6F8;
    color: #fff;
    font-size: 15px;
    border-radius: 7px;
    padding: .6rem 1rem;
    border: none;
    cursor: pointer;
}
.input {
    width: 100%;
    align-items: center ;
    background: #f0f0f0;
    border-radius: 9px;
    display: flex;
}
.select {
    width: 100%;
    align-items: center ;
    background: #f0f0f0;
    border-radius: 9px;
    display: flex;
    font-size: 15px;
    cursor: pointer;
    padding: .6rem 1rem;
    justify-content: space-between;
}
.select_opened {
    position: absolute;
    background: #fff;
    z-index: 999;
    width: 300px;
    border: 1px solid #F7F7F9;
    box-shadow: 1px 2px #F7F7F9;
    border-radius: 4px;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.select_opened li {
    display: flex;
    padding: .3rem .4rem;
    cursor: pointer;
    transition: .3s;
    gap: .4rem;
    align-items: center;
}
.select_opened li img {
    width: 20px;
}
.select_opened.hide {
    display: none;
}
.select_opened li:hover {
    background: #7ca5f828;
    transition: .3s;
}
.input_flex {
    display: flex;
    gap:.9rem;
}
.input_flex button {
    width: 120px;
    padding: .3rem .7rem;
}
.input img {
    width: 15px;
    height: 15px;
    margin-left: .8rem;
}
.ml-3 {
    margin-left: .3rem;
}
li {
    list-style: none;
    /* padding: .3rem .1rem; */
}
.left__container-menu {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: 1rem;

}
.menu_link {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 16px;
    font-weight: bold;
    padding:  .8rem 1rem;
    transition: .3s;
    cursor: pointer;
    border-radius: 4px;
}
.menu_active {
    background: #7ca5f828;
}
.menu_link:hover {
    background: #7ca5f828;
    transition: .3s;
}
.left__container-menu li {
    padding: .3rem 1rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem ;
    width: 500px;
}
.form input {
    font-size: 15px;
    padding: .6rem 1rem;
}
.form textarea {
    font-size: 15px;
    padding: .6rem 1rem;
}
.title {
    font-size: 32px;
    color: #000;
    font-weight: 600;
    /* margin-bottom: 1rem; */
}
.form__footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.items__flex {
    display: flex;
    gap: .7rem;
    align-items: center;
    margin-bottom: 1rem;
}
.main-title {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 600;
}
.title img {
    width: 30px;
    height: 30px;
    margin-left: .6rem;
}
.label {
    margin-bottom: .5rem;
    font-size: 15px;
}
p span {
    font-weight: bold;
}
.methods-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.method-block {
    cursor: pointer;
    border-radius: 4px;
    padding: 1rem;
    border: 1px solid #F7F7F9;
    box-shadow: 1px 2px #F7F7F9;
}
.method-block.active {
    border: 1px solid #7ca5f875;
}
.circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #f0f0f0;
    box-shadow: 1px 2px #fff;
}
.method-block-inner {
    display: flex;
    align-items: center;
    gap: .9rem;
}
.method-block-inner img {
    width: 24px;
    height: 24px;
}
.inner-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-platforms {
    margin-top: 1rem;
    display: flex;
    gap: .9rem;
    align-items: center;
}
.platform-block {
    width: 50px;
    height: 50px;
    padding: .4rem;
    border-radius: 5px;
    background: #f0f0f0;
    cursor: pointer;
}
.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #00000043;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal {
    padding: 1rem 1rem;
    border-radius: 9px;
    background: #fff;
    width: auto ;
}
.modal-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-top: .9rem;
}
.product-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    padding: 15px 20px;
    background: #f0f0f0;
}
.product-block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.platform-title {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.platform-title img {
    width: 20px;
    height: 20px;
}
.submain-text {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 15px;
    color: #333;
    margin-top: .6rem;
}
.container-list {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: 1rem;
}
.block-list {
    border-radius: 4px;
    padding: 1rem;
    border: 1px solid #F7F7F9;
    box-shadow: 1px 2px #F7F7F9;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.list-left-brand {
    display: flex;
    align-items: center;
    gap: .6rem;
}
.list-left-brand img {
    width: 20px;
}
.block-list-right {
    display: flex;
    align-items: center;
    gap: .6rem;
}
.info-block img {
    width: 20px;
}
.info-block {
    background: #f0f0f0;
    border-radius: 4px;
    padding: .1rem;
}
.block-list-left {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.main-title-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-auth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    padding: 1rem;
}
.container-auth .form {
    width: 100%;
    padding: 1rem;
}
.message-wrapper {
    background: #fff;
    border-radius: 10px;
    width: 100%;    
    border: 1px solid #F7F7F9;
    box-shadow: 1px 2px #F7F7F9;
    margin-top: 2rem;
    height: 600px;
    display: flex;
}
.message-chat_list {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #F7F7F9;
    width: 400px;
}
.message-chat_list-header {
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F7F7F9;
    height: 50px;
}
.message-chat_list-chats {
    display: flex;
    flex-direction: column;
}
.message-chat {
    display: flex;
    border-bottom: 1px solid #F7F7F9;
    padding: .8rem;
    gap: 1rem;
    height: 80px;
}
.message-chat-login {
    font-size: 15px;
    font-weight: bold;
}
.message-chat-last_message {
    font-size: 15px;
}
.message-chat-con {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 100%;
}
.message-chat-output {
    width: 100%;
}
.message-chat-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.message-chat-not {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .4rem;
    text-align: center;
    padding: 2rem;
    max-width: 400px;
    margin: 1rem auto;
    height: 100%;
}
.message-chat {
    cursor: pointer;
    transition: .3s;
}
.message-chat:hover {
    background: #7ca5f828;
    transition: .3s;
}
.message-chat-output_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.message-chat-output_wrapper-header {
    flex-grow: 0;
    width: 100%;
    padding: .8rem;
    border-bottom: 1px solid #F7F7F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.contact-block {
    display: flex;
    gap: .7rem;
    align-items: center;
}
.contact-block p {
    font-size: 14px;
}
.contact-block img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.contact-info p{
    font-size: 14px;
    color: #333;
}
.message-chat-output_wrapper-footer {
    flex-grow: 0;
    padding: .9rem;
    flex-shrink: 0;
}
.message-chat-output_wrapper-body {
    flex-grow: 3;
    /* display: flex;
    flex-direction: column; */
    padding: 1rem;
}
.message-left {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}
.message-right {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 1rem 0;
}
.message-right span{
    color: #333;
    font-size: 11px;
    position: relative;
    top: 15px;
    left: 5px;
}
.message-left span{
    color: #333;
    font-size: 11px;
    position: relative;
    top: 15px;
    left: 5px;
}
.message-left-inner {
    border-radius: 10px;
    color: #fff;
    padding: .3rem .6rem;
    background: #7CA6F8;
    font-size: 15px;
    max-width: 300px;
    float: left;
}
.message-right-inner {
    border-radius: 10px;
    color: #fff;
    padding: .3rem .6rem;
    background: #7ca5f8b0;
    font-size: 15px;
    max-width: 300px;
    float: right;
    display: flex;
    justify-content: right;
}

.user-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-title img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.user-title-col {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.user-login {
    font-size: 18px;
    font-weight: 550;
}
.user-register {
    font-size: 14px;
    color: #333;
}
.user-rating {
    display: flex;
    gap: .6rem;
    align-items: center;
}
.rating-star {
    display: flex;
}
.rating-star img {
    height: 20px;
    width: 20px;
}
.rating-text {
    font-size: 15px;
    color: #7CA6F8;
}
.rating-text span {
    font-weight: 550;
}
.user-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.user-wrapper_left {
    display: flex;
    flex-direction: column;
}
.user-wrapper_left-header {
    display: flex;
    align-items: center;
    gap: .6rem;
}
.user-wrapper_left-header a {
    color: #333;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background: #fff;
    font-size: 15px;
}
.lst {
    padding: 1rem;
}
@media (min-width: 480px) {
    .container-auth .form {
        width: 500px;
    }
}