* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-main: #141414;
    --color-bg-secondary: #1A1A1A;
    --color-text-main: #fff;
    --color-text-secondary: #999999;
    --color-border: #262626;
    --color-primary: #7CA6F8;
    --color-red: #ff8282;
    --color-primary-hover: #7ca5f8c5;
}
body {
    font-size: 1.4rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    width: 100%;
    height: 100%;
    background: var(--color-bg-main);
    color: var(--color-text-main);
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-weight: 500;
    tab-size: 4;
}
a, a:hover {
    text-decoration: none;
}
.wrapper {
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar {
    width: 400px;
    background: var(--color-bg-secondary);
    border-right: 1px solid var(--color-border);
    min-height: 100vh;
    flex-direction: column;
}
.box {
    background: var(--color-bg-main);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    transition: .3s;
}
.box.active {
    background: var(--color-bg-secondary);
}
.box_type2:hover {
    background: var(--color-bg-secondary);
    transition: .3s;
}
.small_box {
    background: var(--color-border);
    padding: .3rem;
    border-radius: 5px;
}
.small_box img {
    width: 20px;
    height: 20px;
}

li {
    padding: .8rem 2rem;
}

.sidebar_header {
    border-bottom: 1px solid var(--color-border);
    padding: .9rem 1rem;
    gap: 1rem;
    align-items: center;
}
.main_text {
    color: var(--color-text-main);
}
.secondary_text {
    color: var(--color-text-secondary);
    font-size: 1.1rem;
}
.secondary_text.danger {
    color: var(--color-red);
}
.color_primary {
    color: var(--color-primary);
}
.info {
    flex-direction: column;
    /* gap: .3rem; */
}
img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.menu_link  {
    padding: .9rem 1rem;
}
.content {
    width: 100%;
    flex-direction: column;
    padding: 1rem 2rem;
}

.sidebar-link {
    padding: 1.5rem 1rem;
    cursor: pointer;
    transition: .3s;
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
    gap: 1rem;
    
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sidebar-link:hover {
    background: var(--color-border);
    transition: .3s;    
}
.sidebar-link a {
    color: var(--color-text-main);
}
input {
    border: none;
    outline: none;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    color: var(--color-text-secondary);
    padding: .9rem 1.1rem;
    width: 100%;
    font-size: .9rem;
}
textarea {
    border: none;
    outline: none;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    color: var(--color-text-secondary);
    padding: .6rem;
    width: 100%;
    resize: none;
    font-size: .9rem;
}

a.button {
    outline: none;
    border-radius: 10px;
    border: none;
    padding: .6rem 1rem ;
    color: var(--color-text-main);
    background: var(--color-primary);
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    transition: .3s;
}
a.btn-black {
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
}
button {
    outline: none;
    border-radius: 1rem;
    border: none;
    padding: .9rem 1.1rem;
    /* padding-left: 2.3rem;
    padding-right: 2.3rem; */
    color: var(--color-text-main);
    background: var(--color-primary);
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    transition: .3s;
}
button:hover {
    background: var(--color-primary-hover);
    transition: .3s;
}
.btn-black {
    background: transparent;
    border: 1px soldi var(--color-border);
}

.btn-telegram {
    background: #0088cc;
}
input:-webkit-autofill {
    background-color: #f0f0f0; 
}
.input {
    width: 100%;
    background: transparent;
    color: var(--color-text-secondary);
}
.dropdown {
    width: 100%;
    cursor: pointer;
}
.dropdown-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select {
    width: 100%;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    font-size: .9rem;
    padding: 1rem;
    cursor: pointer;
}
.select-options {
    display: flex;
    flex-direction: column;

}
.select-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-border);
    padding: 1rem;
}
.select-option:last-child {
    border: none;
}
.select-option img {
    width: 30px;
    height: 30px;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-04 {
    margin-top: .4rem;
}
.mt-08 {
    margin-top: .8rem;
}
.big {
    font-size: 1.6  rem;
    font-weight: 700;
    letter-spacing: .1rem;
}
.middle {
    font-size: 1.2rem;
    font-weight: 500;
}
.small {
    font-size: .9rem;
}
.platforms {
   margin-top: .8rem;
   gap: .7rem;
   flex-wrap: wrap;
}
.platform {
    cursor: pointer;
    padding: .6rem 1rem;
    align-items: center;
    gap: .5rem
}
.platform img {
    width: 25px;
    height: 25px;
}
.products {
    margin-top: 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 1rem;
}
.filters {
    margin-top: .9rem;
    gap: .7rem;
    padding-bottom: .9rem;
    border-bottom: 1px solid var(--color-border);
}
.filter_col {
    flex-direction: column;
    gap: .5rem;
}
.filter_col input {
    width: 150px;
}
.products_ {
    margin-top: 1rem;
}
.product {
    padding: .6rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.product-left {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.product-seller img.avatar {
    width: 30px;
    height: 30px;
}
.product-seller {
    align-items: center;
    gap: .5rem;
}
.product-price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-primary);
}
.product-platform {
    align-items: center;
    gap: .5rem
}
.product-title {
    font-size: 1rem;
    color: var(--color-text-main);
    font-weight: 500;
    letter-spacing: .1rem;
}
.product-platform img {
    width: 20px;
    height: 20px;
}
.primary {
    color: var(--color-primary);
}
.info-wrapper-left {
    width: 100%;
}
.info-block {
    padding: 1rem;
}
.info-right {
    flex-direction: column;
    width: 600px;
}
.info-wrapper {
    gap: 2rem;
}
.buy {
    padding: 1rem;
}
.info-seller {
    padding: 1rem;
}
.info-seller-user {
    align-items: center;
    width: 200px;
    gap: .6rem;
    border-right: 1px solid var(--color-border);
}
.stat {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    align-items: center;
}
.info-seller-stats {
    width: 100%;
    justify-content: space-around;
}
.comments {
    padding: 1rem;
    flex-direction: column;
}
.comment-body {
    margin-top: 0.6rem;
    padding-top: 0.6rem;
    border-top: 1px solid var(--color-border);
}
.chat-header {
    background: var(--color-bg-secondary);
    justify-content: space-between;
    padding: .7rem .7rem;
    align-items: center;
}
.chat-getter img {
    width: 40px;
    height: 40px;
}
.chat-getter {
    align-items: center;
    gap: .6rem;
}
.chat-container {
    min-height: 400px;
}
.steps {
    gap: .9rem;
    justify-content: center;
    align-items: center;
}
.step {
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: .7rem 1.6rem;
    background: var(--color-bg-secondary);
    cursor: pointer;
}
.dot {
    background: var(--color-bg-secondary);
    width: 7px;
    height: 7px;
    border-radius: 100%;
}
.line {
    background: var(--color-border);
    width: 100%;
    height: .12rem;
}
.step.active {
    background: var(--color-border);
}
.form {
    padding: 1rem;
}
.form_col {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.form_col textarea {
    height: 150px;
}
.choose_block {
    gap: .7rem;
}
.choose_btn {
    padding: .7rem 1rem;
    cursor: pointer;
    transition: .3s;

}
.choose_btn.active {
    background: var(--color-border);
}
.choose_btn:hover {
    background: var(--color-border);
    transition: .3s;
}
.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.628);
    justify-content: center;
}
.popup {
    z-index: 99999;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 1rem;
    background: var(--color-bg-secondary);
    border-radius: 10px;
    border: 1px solid var(--color-border);
}
.modal {
    width: 500px;
    height: auto;
    background: var(--color-bg-main);
    border-radius: 10px;
    border: 1px solid var(--color-border);
}
.modal-header {
    padding: 1rem;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-header img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.modal-body {
    padding: 1rem;
}

table{
	border: 1px solid var(--color-border);
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
table th {
	font-weight: bold;
	padding: 5px;
    
	background: transparent;
	/* border: 1px solid var(--color-border); */
}
table td{
	text-align: center;
}
table tbody tr:nth-child(odd){
	background: var(--color-bg-secondary);
}
table tbody tr:nth-child(even){
	background: var(--color-bg-main);
}
.sidebar-top {
    align-items: center;
    gap: 2rem;
}
.sidebar-top button {
    width: 150px;
}
.user-top-balance {
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    padding: .3rem;
}
.user-top-avatar {
    cursor: pointer;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    gap: .9rem;
    border-radius: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .6rem;
    align-items: center;
    padding-right: .6rem;
    min-width: 180px;
}
.user-top-avatar img {
    width: 40px;
    height: 40px;
}
.context {
    display: none;
    position: absolute;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: .8rem;
    width: 180px;
    right: 2rem;
    top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.context-inner {
    margin-top: .4rem;
    margin-bottom: .4rem;
    display: flex;
    flex-direction: column;
}
.context-inner li {
    list-style: none;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--color-border);
    transition: .3s;
}
.context-inner li:last-child {
    border-bottom: none;
}
.context-inner li:hover {
    background: var(--color-border);
    transition: .3s;
}
@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .info-wrapper {
        flex-direction: column;
    }
    .info-right {
        width: 100%;
    }
    .steps {
        display: none;
    }
    .content {
        padding: 1rem;
    }
    .modal {
        width: 100%;
    }
    .modal-wrapper {
        padding: 1rem;
    }
    .filters {
        flex-direction: column;
    }
}